html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/Mask\ Group.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.my {
  text-align: center;
  color: white;
  font-size: 42px;
  margin-top: 50px;
}

.cards-grid {
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 50px;
}

.container {
  display: grid;
  margin-top: 120px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  background: tomato;
  padding: 60px;
}

.card-1 h2,
.card-2 h2,
.card-3 h2,
.card-4 h2 {
  font-size: 42px;
  text-align: center;
}

.card-1 p,
.card-2 p,
.card-3 p,
.card-4 p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
